@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
  body, html {
    height: auto;
    position: relative;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  h4, p {
    font-size: 0.8rem;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  .main-nav {
    align-items: center;
    width: 100%;
  }

  .nav-left ul, .nav-right ul {
    display: none;
  }

  .nav-logo {
    width: 90%;
  }

  .logo {
    width: 100%;
  }

  .menu-toggle, .connect-toggle {
    display: block;
  }

  header {
    background-attachment: scroll;
    background-image: url("../images/paint-splatters5.jpg");
    background-size: cover;
    background-position: center bottom 200%;
    background-repeat: no-repeat;
    height: 400px;
    margin: 0;
    padding: 100px 0;
    position: relative;
    width: 100%;
  }

  .header-text {
    position: absolute;
    top: -26px;
    width: 50%;
  }

  .header-btn {
    position: absolute;
    top: 40%;
  }

  .header-btn span {
    display: block;
  }

  .header-text a {
    margin-top: 10px;
    padding: 2px 10px;
  }

  .cta-text {
    padding: 50px 0;
  }

  .cta-text a, .band-promo a {
    font-size: 0.8rem;
    padding: 5px 10px;
  }

  .banner-double-img {
    display: none;
  }

  .products {
    width: 100%;
  }

  .products .d-flex {
    align-items: center;
    flex-direction: column;
  }

  .products .d-flex>.col {
    margin-bottom: 20px;
    padding-right: 0;
  }

  .details {
    justify-content: flex-end;
    padding-top: 5px;
  }

  .btn-view, .add {
    padding-left: 15px;
  }

  .spotlight, .categories {
    padding: 20px;
  }

  .spotlight-ov, .categories-ov {
    padding-bottom: 30px;
  }

  .category-col .d-flex {
    flex-direction: row;
    display: flex;
  }

  .cat-top-row, .cat-bot-row {
    display: inline-block;
    flex-direction: row;
    width: 100%;
  }

  .categories-ov h1 {
    font-size: 1.5rem;
  }

  .cat-col {
    margin-bottom: 10px;
    opacity: 0.8;
    padding-right: 0;
  }

  .cat-top-row {
    margin-right: 10px;
  }

  .cat-bot-row {
    margin-right: 0;
  }

  .band-promo {
    background-size: cover;
  }

  .promo-text {
    padding: 0;
  }

  .promo-text-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
  }

  .promo-text a {
    font-size: 0.9rem;
  }

  .cont-adv {
    display: block;
    padding: 30px 0;
  }

  .col-adv p, .col-adv-support p {
    display: none;
  }

  .col-adv, .col-adv-support {
    padding-right: 0;
  }

  .fa-shipping-fast, .fa-comments, .fa-exchange-alt {
    font-size: 1.5rem;
  }

  footer .cont-foot, footer .made-by {
    display: flex;
  }

  .foot-col {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  footer h3 {
    font-size: 0.7rem;
    padding-top: 20px;
  }

  footer p {
    font-size: 0.4rem;
  }

  .foot-logo-img {
    width: 100%;
  }

  .socials h3 {
    padding: 0;
  }

  .socials ul {
    margin: 5px 0 0 0;
  }

  .socials p {
    display: none;
  }

  .foot-soc li {
    font-size: 0.9rem;
  }

  .newsletter p {
    font-size: 0.4rem;
  }

  .newsletter input, .foot-span {
    display: none;
  }

  .subscribe {
    margin: 0;
  }

  .back-to-top a {
    font-size: 1rem;
  }

  .made-by p {
    padding: 5px 70px;
  }
}
/**************** LANDSCAPE *******************/
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  body, html {
    height: auto;
    position: relative;
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  h4, p {
    font-size: 0.8rem;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  .main-nav {
    align-items: center;
    width: 100%;
  }

  .nav-left ul, .nav-right ul {
    display: none;
  }

  .logo {
    width: 100%;
  }

  .menu-toggle, .connect-toggle {
    display: block;
  }

  header {
    background-attachment: scroll;
    background-image: url("../images/paint-splatters5.jpg");
    background-size: cover;
    background-position: center bottom 200%;
    background-repeat: no-repeat;
    height: 400px;
    margin: 0;
    padding: 100px 0;
    position: relative;
    width: 100%;
  }

  .header-text {
    position: absolute;
    top: -26px;
    width: 50%;
  }

  .header-btn {
    left: 35%;
    position: absolute;
    top: 220px;
  }

  .header-btn span {
    display: block;
  }

  .header-text a {
    margin-top: 10px;
    padding: 2px 10px;
  }

  .cta-text {
    padding: 50px 0;
  }

  .cta-text a, .band-promo a {
    font-size: 0.8rem;
    padding: 5px 10px;
  }

  .banner-double-img {
    display: none;
  }

  .spotlight {
    background-image: none;
  }

  .spotlight-ov, .categories-ov {
    padding-bottom: 30px;
  }

  .products {
    width: 100%;
  }

  .price {
    position: absolute;
    right: auto;
    top: auto;
  }

  .details {
    padding-top: 10px;
  }

  .category-col .d-flex {
    flex-direction: row;
    display: flex;
  }

  .categories-ov h1 {
    font-size: 1.5rem;
  }

  .cat-top-row, .cat-bot-row {
    display: inline-block;
    flex-direction: row;
    width: 100%;
  }

  .categories, .cont-adv {
    padding: 30px 0;
  }

  .cat-col {
    margin-bottom: 10px;
    opacity: 0.8;
    padding-right: 0;
  }

  .cat-top-row {
    margin-right: 10px;
  }

  .cat-bot-row {
    margin-right: 0;
  }

  .band-promo {
    background-size: contain;
  }

  .promo-text {
    padding: 0;
  }

  .promo-text-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
  }

  .promo-text a {
    font-size: 0.9rem;
  }

  footer .cont-foot, footer .made-by {
    display: flex;
  }

  .foot-col {
    padding-left: 0;
    padding-right: 0;
  }

  footer h3 {
    font-size: 0.7rem;
    padding-top: 20px;
  }

  footer p {
    font-size: 0.4rem;
  }

  .about a.about-vis {
    display: block;
  }

  .foot-logo-img {
    width: 100%;
  }

  .socials article, .socials h3 {
    padding: 0;
  }

  .socials ul {
    margin: 5px 0 0 0;
  }

  .socials p {
    display: none;
  }

  .foot-soc li {
    font-size: 0.9rem;
  }

  .newsletter p {
    font-size: 0.4rem;
  }

  .newsletter .subscribe {
    display: block;
  }

  .newsletter input, .foot-span {
    display: none;
  }

  .back-to-top a {
    font-size: 1rem;
  }

  .made-by p {
    padding: 5px 70px;
  }
}
