/****************** GENERAL *******************/
* {
  box-sizing: border-box;
}

body, html {
  background-color: #020204;
  height: 100vh;
  margin: 0;
  position: relative;
  scroll-behavior: smooth;
  width: 100%;
}

.clearfix {
  clear: both;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}

.d-flex, .main-nav, .nav-logo, .cont-adv, .cont-foot, .socials ul {
  display: flex;
}

nav, h2, h3, h4, h5, h6 ul, a, p, .footer-email, .foot-span {
  color: #E5E5E5;
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1 {
  color: #E5E5E5;
  font-family: 'Rajdhani', sans-serif;
  font-size: 3.5rem;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
}

section, footer, .col article, .foot-col{
  display: inline-block;
  margin: 0;
}
/****************** NAVBAR *******************/
.main-nav {
  background-color: #020204;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

.main-nav .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.menu-toggle, .connect-toggle {
  display: none;
}

.nav-left, .nav-logo, .nav-right {
  width: 33.3%;
}

.logo {
  width: 100%;
}

.nav-logo {
  justify-content: center;
}

.nav-left ul, .nav-right ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

.nav-left a:hover, .nav-right a:hover {
  border-bottom: 2px solid #E5E5E5;
  transition: 200ms;
}

.nav-left small, .nav-right small {
  font-size: 0.75rem;
  padding-right: 3px;
}

.nav-right a {
  font-size: 1.2rem;
}

/************ HEADER, CTA ****************/
header {
  background-attachment: scroll;
  background-image: url("../images/paint-splatters7.jpg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  padding: 100px 0;
  margin: 0;
  width: 100%;
  z-index: 0;
}

header .container {
  padding: 300px 0;
  position: relative;
}

.header-text {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 90%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.header-btn {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 100%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.header-btn span {
  display: none;
}

.header-btn a:hover {
  color: #581842;
  transform: scale(1.2);
  transition: 200ms ease;
}

/***************** CTA BANNER ****************/
.banner-cta {
  width: 100%;
}

.col, .cat-col {
  padding-right: 10px;
  width: 100%;
}

.cta-text {
  padding-bottom: 100px;
  padding-top: 50px;
  text-align: center;
}

.cta-text a, .band-promo a {
  background-color: #E5E5E5;
  border-radius: 20px;
  color: #020204;
  font-weight: bold;
  padding: 10px 40px;
  text-align: center;
}

.cta-text a:hover, .band-promo a:hover {
  background-color: #020204;
  border: 1px solid #E5E5E5;
  color: #E5E5E5;
  transition: 500ms ease;
}

.banner-img, .spotlight-img {
  margin-top: -3px;
  width: 100%;
}
/**************** SPOTLIGHT *******************/
.spotlight {
  background-color: #000942;
  background-image: url("../images/neon-splatter.jpg");
  background-position: right;
}

.spotlight-ov h2 {
  padding-bottom: 5px;
}

.spotlight-ov, .categories-ov {
  opacity: 1;
  padding-bottom: 50px;
}

.spotlight, .band-promo {
  background-size: contain;
  background-repeat: no-repeat;
  padding: 27px;
  width: 100%;
}

.products { /*spotlight products*/
  margin-bottom: 50px;
  width: 68%;
}

.single-prod {
  position: relative;
}

.spotlight-text {
  background-color: #020204;
  margin-top: -4px;
  padding: 10px 8px;
  position: relative;
}

.col article {
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: -3px;
  transition: 200ms ease;
  width: 100%;
}

.overlay:hover {
  opacity: 1;
}

.heart {
  font-size: 1.75rem;
  left: 5px;
  position: absolute;
  top: 5px;
}

.heart:hover {
  color: red;
}

.details {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  width: 100%;
}

.price {
  position: absolute;
  right: 8px;
  top: 12px;
}

.btn-view a, .add a {
  font-size: 1.5rem;
}

.btn-view a:hover, .add a:hover {
  color: #581842;
  transition: 200ms ease;
}
/**************** CATEGORIES *******************/
.categories, .band-promo {
  padding: 50px 0;
  width: 100%;
}

.categories {
  padding: 90px 0;
}

.categories h1 {
  font-size: 3rem;
}

.cat-top-row, .cat-bot-row {
  display: contents;
  width: 25%;
}

.cat-col {
  opacity: 0.5;
}

.cat-col:hover {
  opacity: 1;
  transition: 200ms ease;
}

.cat-text {
  background-color: #000942;
  margin-top: -3px;
  padding: 20px;
  text-align: center;
}

.category-col, .cat-img {
  width: 100%;
}


/*************** PROMO BANNER ******************/
.band-promo {
  background-image: url("../images/paint-splatters6.jpg");
  background-position: left;
  background-size: contain;
}

.promo-text {
  padding: 100px 0px 50px 400px;
  text-align: center;
}

.promo-text-overlay {
  margin-bottom: 30px;
}
/***************** ADVANTAGES *****************/
.advantages {
  background-color: #0d0d11;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  width: 100%;
}

.cont-adv { /*container-advantages*/
  justify-content: space-evenly;
  padding: 90px 0;
}

.col-adv {
  text-align: center;
}

.fa-shipping-fast, .fa-comments, .fa-exchange-alt { /*advantages icons*/
  color: #E5E5E5;
  font-size: 3rem;
  padding-bottom: 10px;
}

.adv-text {
  color: #E5E5E5;
  width: 50%;
}
/******************** FOOTER ********************/
footer .cont-foot, footer .made-by {
  display: block;
}

footer h3 {
  padding-bottom: 20px;
}

footer p {
  font-size: 0.9rem;
}

.foot-col {
  padding-left: 20px;
  padding-right: 20px;
  width: 33%;
}

.foot-col h3 {
  text-align: center;
}

.socials article {
  padding: 20px 0;
}

.socials ul {
  justify-content: space-evenly;
  padding-left: 0;
}

.socials li {
  font-size: 1.75rem;
  list-style: none;
}

.socials p {
  text-align: center;
}

.foot-logo {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.foot-logo-img {
  width: 100%;
}

.newsletter {
  text-align: justify;
}

.newsletter a:hover, .about a:hover, .socials a:hover {
  color: #581842;
  transition: 200ms ease;
}

.footer-email {
  background-color: black;
  border-radius: 10px;
  color: #E5E5E5;
  font-size: 0.8rem;
  margin: 10px 0;
  padding: 3px 0;
  text-align: center;
  width: 50%;
}

.foot-span {
  font-size: 0.8rem;
}

.subscribe {
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
}

.made-by {
  border-top: 1px solid #E5E5E5;
  font-size: 0.9rem;
  margin-top: 10px;
  text-align-last: center;
}

.made-by p {
  padding-top: 10px;
  width: 100%;
}

.back-to-top a {
  bottom: 20px;
  color: rgba(50, 50, 50);
  font-size: 2.5rem;
  position: fixed;
  right: 30px;
}

.back-to-top a:hover {
  color: #E5E5E5;
  transition: 200ms ease;
}

footer {
  width: 100%;
}
